.tag-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 0;
}

.tag-grid * {
  white-space: nowrap;
}

@media (min-width: 576px) {
  .tag-grid {
    gap: 0.5rem 1rem;
  }
}
