<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col form-data">
      <div>
        <input class="form-control" placeholder="Фамилия" formControlName="firstName"/>
        <span *ngIf="!form.controls.firstName.untouched && form.controls.firstName?.errors?.['required']"
              class="text-danger">Имя обязательно</span>
      </div>
      <div>
        <input class="form-control" placeholder="Имя" formControlName="lastName"/>
        <span *ngIf="!form.controls.lastName.untouched && form.controls.lastName.errors?.['required']"
              class="text-danger">Фамилия обязательна</span>
      </div>
      <div>
        <input class="form-control" placeholder="Отчество" formControlName="middleName"/>
        <span *ngIf="!form.controls.middleName.untouched && form.controls.middleName?.errors?.['required']"
              class="text-danger">Отчество обязательно</span>
      </div>
      <div class="mb-1">
        <input class="form-control" placeholder="Email" formControlName="email"/>
        <span *ngIf="!form.controls.email.untouched && form.get('email')?.errors?.['required']"
              class="text-danger">Email обязателен</span>
      </div>
      <div>
        <input class="form-check-input" id="allowNewSletter" type="checkbox"/>
        <label class="form-check-label ms-2" for="allowNewSletter">Разрешить рассылку</label>
      </div>

    </div>
    <app-client-tags-picker
      *ngIf="this.isLoadTagAndSocialMedia"
      class="col mt-3 mt-sm-0 ms-sm-1 ms-md-4 p-ms-0"
      [tags]="form.controls.tags"
    />
  </div>
  <div class="mt-3">
    <ng-template #passportModal let-modal>
      <div class="modal-header ps-4 pe-4 pt-2 pb-2">
        <h5 class="modal-title">Паспорт</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="p-4 pt-2">
        <app-client-passport [passport]="form.controls.passport"></app-client-passport>
        <button type="button" class="btn btn-primary mt-3 w-100" (click)="modal.close()">Подтвердить</button>
      </div>
    </ng-template>
    <div class="mt-1">
      <div class="text-danger" *ngIf="form.controls.passport.invalid">Паспорт не заполнен</div>
      <input type="checkbox"
             class="form-check-input"
             id="isAddPassport"
             (change)="onPassportChangeState()"
             [(ngModel)]="withPassport"
             [ngModelOptions]="{standalone: true}"/>
      <label class="form-check-label ms-2" for="isAddPassport">С паспортом</label>
    </div>
    <button
      type="button"
      class="btn btn-primary mt-1"
      *ngIf="withPassport"
      (click)="modalService.open(passportModal)"
    >Паспорт
    </button>
  </div>
  <app-client-phone-list
    *ngIf="this.isLoadTagAndSocialMedia"
    class="row mt-4"
    [phones]="form.controls.phones"
    [socialMedias]="socialMedias"
  ></app-client-phone-list>
  <button type="submit" class="btn btn-primary mt-5 btn-success">
    <ng-content></ng-content>
  </button>
</form>
